div {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.623);
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    height: 1875px;
    margin-bottom: 20px;
}